* {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans_my", sans-serif;
  color: #000;
  font-size: 22px; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

a {
  text-decoration: none; }

.row-readmore {
  position: relative; }

.row-readmore:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center; }

.container {
  display: block;
  width: 80%;
  margin: 0 auto; }

.row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.row:after, .clearfix:after {
  content: "";
  display: block;
  clear: both; }

div[class*="column"] {
  box-sizing: border-box; }

.column1 {
  width: 8.33%; }

.column2 {
  width: 16.66%; }

.column3 {
  width: 25%; }

.column4 {
  width: 33.33%; }

.column5 {
  width: 41.66%; }

.column6 {
  width: 50%; }

.column7 {
  width: 58.33%; }

.column8 {
  width: 66.66%; }

.column9 {
  width: 75%; }

.column10 {
  width: 83.11%; }

.column11 {
  width: 91.66%; }

.column12 {
  width: 100%; }

.basket {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #f3f3f3; }
  .basket__text {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding-top: 50px;
    margin-right: 70px; }
  .basket__text:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 40px;
    padding-left: 40px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-position: center; }

.header-menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 50px; }

.header-menu__item {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px; }

.header-menu__link:active {
  color: #544d4d; }

.header-menu__link:hover {
  color: #b5adad; }

.header-menu__link {
  color: #000; }

.promo .wrapper--promo {
  display: -ms-flexbox;
  display: flex; }

.promo .picture__img {
  width: 100%;
  height: 100%; }

.promo .rows {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #f3f3f3;
  height: 10%; }
  .promo .rows__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .promo .rows__prev, .promo .rows__next {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #707070; }
  .promo .rows__prev:before, .promo .rows__next:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/row_left.png); }
  .promo .rows__prev:before {
    margin-left: -50px;
    background-image: url(../img/row_left.png); }
  .promo .rows__next:after {
    background-image: url(../img/row_right.png); }
  .promo .rows__prev:hover, .promo .rows__next:hover {
    color: #000; }
  .promo .rows__prev:hover:before {
    background-image: url(../img/row_left_gellery.png);
    transform: rotate(180deg); }
  .promo .rows__next:hover:after {
    background-image: url(../img/row_left_gellery.png); }

.stories__wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f6f6f6 50%, #fff 50%); }

.stories__selector {
  margin-left: auto;
  position: absolute;
  left: 41%; }

.stories .compilation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.stories .subtitle {
  font-size: 47px;
  position: relative; }

.stories .item {
  padding: 50px 50px 0 50px;
  box-sizing: border-box;
  color: #000; }
  .stories .item--movie {
    position: relative; }
  .stories .item__link {
    color: #000; }
  .stories .item__img {
    width: 100%;
    height: 100%; }
  .stories .item__foto, .stories .item__report {
    position: relative;
    padding: 30px 0 40px 60px;
    color: #7f7f7f; }
  .stories .item__foto:before, .stories .item__report:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 -10%;
    margin-left: -60px; }
  .stories .item__foto:before {
    background-image: url(../img/camera.png); }
  .stories .item__report:before {
    background-image: url(../img/pencil.png); }

.stories .description {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 1000;
  bottom: 0%;
  width: 100%; }
  .stories .description__title {
    width: 42%;
    padding-left: 60px;
    padding-bottom: 30px; }
  .stories .description__video {
    position: relative;
    padding: 0px 0 20px 60px;
    width: 100%; }
  .stories .description__video:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 50px;
    top: -70px;
    background-image: url(../img/video.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0 -10%; }
  .stories .description__link {
    color: #fff;
    width: 20%;
    margin-right: 160px; }

.row-readmore:after {
  background-image: url(../img/row_left_gellery.png);
  padding-left: 30px;
  margin-left: auto; }

.row-readmore--wight:after {
  background-image: url(../img/row_right_more.png);
  padding-left: 30px;
  margin-left: auto; }

.more {
  display: -ms-flexbox;
  display: flex; }
  .more__link {
    padding: 20px;
    border: 2px solid #7f7f7f;
    color: #7f7f7f;
    background-color: #fff;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px; }

.interveiw__wrapper {
  background-color: #000; }

.interveiw__category {
  padding-top: 80px;
  padding-bottom: 15px; }

.interveiw .item {
  padding-bottom: 70px; }
  .interveiw .item__title {
    padding-bottom: 40px; }
  .interveiw .item__img {
    width: 100%; }

.interveiw .selector {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .interveiw .selector__category {
    padding: 120px 0 25px 40px; }
  .interveiw .selector__link {
    color: #fff;
    padding-left: 40px;
    padding-bottom: 20px; }
  .interveiw .selector__allink {
    color: #fff;
    padding: 20px;
    border: 2px solid #707070;
    margin-left: 50px;
    text-align: center;
    width: 120px;
    margin-top: auto;
    margin-bottom: 70px; }

.interveiw .row-readmore:after {
  background-image: url(../img/row_right_more.png);
  padding-left: 30px;
  margin-left: auto; }

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .info .headline {
    color: #fff;
    background-color: #1f1f1f;
    padding-bottom: 40px;
    height: 90%; }
    .info .headline__category {
      padding-left: 100px;
      padding-top: 80px; }
    .info .headline__title {
      padding-left: 100px;
      position: relative; }
    .info .headline__title:after {
      position: absolute;
      content: '';
      display: -ms-flexbox;
      display: flex;
      width: 70%;
      height: 7px;
      margin-top: 30px;
      background-color: #fff; }
    .info .headline__article-text {
      padding-left: 100px;
      padding-top: 60px;
      line-height: 1.5;
      padding-bottom: 20px; }
    .info .headline__link {
      color: #fff;
      padding-left: 100px;
      padding-top: 40px;
      padding-bottom: 30px; }
    .info .headline .row-readmore:after {
      background-image: url(../img/row_right_more.png);
      padding-left: 30px; }

.title {
  font-size: 57px;
  color: #fff; }

.category {
  text-transform: uppercase;
  color: #707070;
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */
