.basket {
	display: flex;
	justify-content: center;
	background-color: #f3f3f3;
	&__text {
		display: inline-flex;
		position: relative;
		padding-top: 50px;
		margin-right: 70px;
	}
	&__text:after {
		position: absolute;
		content: '';
		width: 50px;
		height: 40px;
		padding-left: 40px;
		background-image: url(../img/cart.png);
    	background-repeat: no-repeat;
    	background-position: center;
	}
}
.header-menu {
	
	&__list {
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
	&__item  {
		display: inline-flex;
		padding: 0 20px;
	}
	&__link:active {
		color: #544d4d;
	}
	&__link:hover {
		color: #b5adad;
	}
	&__link {
		color: #000;
	}

}