.interveiw {
	&__wrapper {
		background-color: $text-color;
	}
	&__category {
		padding-top: 80px;
		padding-bottom: 15px;
	}
	.item {
		padding-bottom: 70px;
		&__title {
			padding-bottom: 40px;
		}
		&__img {
			width: 100%;
		}
	}
	.selector {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		&__category  {
			padding: 120px 0 0 40px;	
		}
		&__link {
			color: $tc-w;
			padding-left: 40px;
			padding-bottom: 20px;
		}
		&__innerlink {
			margin-bottom: 70px;
		}
		&__allink {
			color: $tc-w;
			padding: 20px 40px 20px 40px;
			border: 2px solid $tc-dark-grey;
			margin-left: 50px;
			
		}
	}
	.row-readmore:after {
		background-image: url(../img/row_right_more.png);
		padding-left: 30px;
		margin-left: auto;
		}
}