.magazine {
	&--wrapper {
		// background-repeat: no-repeat;
	    // background-position: top;
	    background: linear-gradient( to bottom, rgba(255,255,255,1), rgba(255,255,255,0)), url(../img/bgc_magazine.jpg) top no-repeat ;
	    // background: linear-gradient( to top, #648880, #293f50);
	    //background: linear-gradient( to top, rgba(255,255,255,1), rgba(255,255,255,0));
	}
	&__caption {
		text-align: center;
	}
	&__category {
		padding-top: 110px;
		padding-bottom: 20px;
	}
	&__title {
		padding-bottom: 110px;
	}

}