.promo {
	.wrapper--promo {
		display: flex;
	}
	.picture {
	&__img {
		width: 100%;
		height: 100%;
		}
	}
	.rows {
		display: flex;
		text-align: center;
		background-color: $bgc-pink_grey;
		height: 10%;
		&__item {
			display: flex;
			justify-content: center;

		}
		&__prev, &__next  {
		position: relative;
		align-self: center;
		color: $tc-dark-grey;
		}
		&__prev:before, &__next:after {
		position: absolute;
		content: '';
		width: 50px;
		height: 20px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-image: url(../img/row_left.png);
	}
		&__prev:before {
			margin-left: -50px;
			background-image: url(../img/row_left.png);	
	    }
	    &__next:after {
			background-image: url(../img/row_right.png);	
	    }
	    &__prev:hover, &__next:hover {
	    	color: $text-color;
	    } 
	    &__prev:hover:before {
			background-image: url(../img/row_left_gellery.png);	
			transform: rotate(180deg);
	    }

	    &__next:hover:after {
			background-image: url(../img/row_left_gellery.png);		
	    }
	}
}
