.promo {
	.wrapper--promo {
		display: flex;
	}
	&__article {
		flex-direction: column;
		color: #fff;
	}


	&__img {
		width: 100%;
		height: 100%;
	}
	&__info {
		display: flex;
	}
	&__description {
		background-color: #1f1f1f;
		padding-bottom: 40px;
		height: 90%;
	}
	&__title {
		text-transform: uppercase;
		color: #707070;
		padding-left: 100px;
		padding-top: 80px;
		font-size: $font-size + 8px;
	}
	&__article-title {
		padding-left: 100px;
		font-size: $font-size + 35px;
		position: relative;
	}
	&__article-title:after {
		position: absolute;
		content: '';
		display: flex;
		width: 70%;
		height: 7px;
		margin-top: 30px;
		background-color: #fff;
	}
	&__article-text {
		padding-left: 100px;;
		padding-top: 60px;
		line-height: 1.5;
		padding-bottom: 20px;
	}
	&__link {
		color: #fff;
		padding-left: 100px;
		padding-top: 40px;
		padding-bottom: 30px;}
	.row-readmore:after {
		background-image: url(../img/row_right_more.png);
		padding-left: 30px;
	}

}
.rows {
	display: flex;
	text-align: center;
	background-color: $bgc-pink_grey;
	height: 10%;
	&__item {
		display: flex;
		justify-content: center;

	}
	&__prev, &__next  {
	position: relative;
	align-self: center;
	color: $tc-dark-grey;
	}
	&__prev:before, &__next:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/row_left.png);
}
	&__prev:before {
		margin-left: -50px;
		background-image: url(../img/row_left.png);	
    }
    &__next:after {
		background-image: url(../img/row_right.png);	
    }
    &__prev:hover, &__next:hover {
    	color: $text-color;
    } 
    &__prev:hover:before {
		background-image: url(../img/row_left_gellery.png);	
		transform: rotate(180deg);
    }

    &__next:hover:after {
		background-image: url(../img/row_left_gellery.png);		
    }
}
