.stories {
	&__info {
		flex-wrap: wrap;
		 margin-left: -50px;  margin-right: -50px;
	}

	.item {
		  padding: 50px; box-sizing: border-box;
		  color: $text-color;
		  &--video {
		  	position: relative;
		  }
		  &__description {
		  	position: absolute;
		  	z-index: 1000;
		  	top: 65%;
			width: 100%;
		  }
	&__img {
		width: 100%;
		height: 100%;
	}
	&__foto, &__report, &__video {
		position: relative;
		padding: 30px 0 40px 60px;
		color: $tc-light-grey;
	}
	&__video  {
		padding-left: 130px;
	}
	&__foto:before, &__report:before, &__video:before {
		position: absolute;
		content: '';
		width: 50px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: 0 -10%;
    	margin-left: -60px;
	} 
	&__foto:before {
		background-image: url(../img/camera.png);
	}
	&__report:before {
		background-image: url(../img/pencil.png);
	}
	&__video:before {
		background-image: url(../img/video.png);
		width: 100px;
		height: 70px;
		margin-left: -120px;
	}
	&__title  {
		color: #fff;
		font-size: $font-size + 15px;
	}
	}
	.row-readmore:after {
		background-image: url(../img/row_left_gellery.png);
		padding-left: 30px;
		margin-left: auto;
		}
	&__link {
		color: $text-color;
		
	}
	
	
}