* {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  font-size: $font-size;
}
.wrapper {
	display: flex;
	width: 100%;
}
a {
	text-decoration: none;
}
.row-readmore {
	position: relative;
}
.row-readmore:after {
	position: absolute;
	content: '';
	width: 50px;
	height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
	display: block;
	width: 85%;
	margin: 0 auto;

}